.ArticleDetailBox {
    .article-box {
        padding: 1.25rem;
        margin-bottom: 1.25rem;
    }
    .article-img {
        border-radius: 10px;
    }
    .article-title {
        margin-bottom: 1.25rem;
        font-weight: 600;
    }
    .article-details {
        padding-bottom: 5px;
        display: flex;
    }
    .breaking-tag {
        font-weight: 700;
    }
    .dot {
        margin-left: .75rem;
    }
    .num-opinions {
        font-family: 'Open Sans';
        font-size: .8rem;
        color: #95989a;
        align-items: center;
        display: flex;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .opinions-item:not(:last-child) {
        margin-right: .75rem;
    }
    .post-short {
        padding-bottom: .75rem;
    }
}
