

@media screen and (min-width: 1192px) {
    .post-container {
        max-width:1348px;
        width: 1348px;
        margin: 0 auto;
        position: relative;
    }
}

.details {
    margin-bottom: .5rem;
}

@media screen and (max-width: 639px) {
  .details {
    font-size: .8rem;
  }
}

.level.is-mobile .level-left {
    flex-wrap: wrap;
    flex-shrink: 1;
}

.primary-background {
    background-repeat: no-repeat;
    background-size: cover;
      background-size: cover;
      background-position: center;
      position: absolute;
      left: -15px;
      top: -5px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      z-index: -1;
    -webkit-filter: blur(10px) contrast(.5) brightness(.7);
    box-sizing: border-box;
}

.detail-banner > *:not(.primary-background) {
    z-index: 5;
    position: relative;
}
.detail-banner {
    overflow: hidden;
    position: relative;
}

.trophy {
    padding: .8rem;
    -webkit-filter: grayscale(1) contrast(.3);
}

.trophy-title {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
@media (min-width: 769px) {
    .trophy-box {
        margin: -5rem 0 1rem 0;
    }
}
.trophy-box > .post-content {
    padding: 1rem;
}
.infobox-bottom {
    border-top: 1px solid #e4e4e4;
}
.info-title {
    font-weight: 600;
    font-size: 1.5rem;
}
.info-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    display: block;
}
.user-trophy {
    margin-top: .5rem;
}

.article-detail {
    object-fit: contain;
}

.article-info {
    padding: 1rem;
    display: block;
    color: #4a4a4a;
}

.cmm-red {
    font-weight: 700;
    color: #ef5050;
}

.reply-header {
    background: #dddddd;
}

.overview-box {
    background-color: #FFFFFF;
    border-radius: 4px;
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 2px #D6D6D6;
    -moz-box-shadow: 0px 2px #D6D6D6;
    box-shadow: 0px 2px #D6D6D6;
    margin-bottom: 1.25rem;
}

.form-size {
    padding: 1rem 2rem 1rem 2rem;
}

.empty-section {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 340px;
}

.rules-list {
    font-family: 'Open Sans';
}

.rules-list li {
    padding-bottom:.6rem;
}

.reply-action {
    padding: .8rem;
}

.time-ago {
    color: #95989a;
}

.is-detail {
    margin-bottom: .8rem;
}

.reply-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.post-name {
    font-weight: 600;
    font-family: 'Montserrat';
}

.op-user {
    font-weight: 700;
    color: #60399E !important;
}

.inner-content {

    .is-detail {
        margin-bottom: .3rem;
    }

    .body-text {
        word-break: break-word;
    }
}

.inner-content .inner-content {
    padding: 1rem 0 0 3rem;

    .user-name {
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .inner-content .inner-content {
        padding: 1rem 0 0 1.5rem;
    }
}

.innerreplies-content {
    padding: 1rem 2rem 1rem 3rem;
    @media (max-width: 768px) {
        padding: 2.3rem .5rem 0 .5rem;
    }

    .user-name {
        font-weight: 600;
    }
}

.post-content {
  .media-left {
    position: relative;

    i.fas {
      position: absolute;
      bottom: -2em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.post-preview {
    cursor: pointer;
    position: relative;

    & > article {
        opacity: 0.5;
    }

    & > span {
        position: absolute;
        left: 50%;
        top: 50%;
        font-weight: bold;
        transform: translateX(-50%) translateY(-50%);
    }
}

.preview-box {
    padding: .5rem;
    opacity: 0.7;
    margin-right: 2rem;
}

.innerpreview-box {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: .5rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 1rem;
}


.preview-content {
    padding-left: 2rem;

    .is-detail {
        margin-bottom: .2rem;
    }
}

.too-nested-warning {
  color: red;
  font-weight: bold;
}

.reply-text-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: .5rem;
    font-family: 'Open Sans';
}

.has-text-blue {
    color: #3081f9 !important;
}
.media-content a.level-item {
    color: #95989a;
}

.upvote-dot {
    opacity: 0.5;
    padding: 0 5px 0 5px;
}

.post-reply {
    font-family: 'Open Sans';
    font-size: .9rem;
}

.innerpreview-style {
    background: #fafafa;
}

.preview-style {
    margin: 0 -1.4rem -1.3rem -1.4rem;
    padding: 1rem 0;
    background: #fafafa;
}
