.Countdown{
  margin: 1rem auto;
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 18px;
}

.countdown-text {
    font-size: .8rem;
    color: #7e7e7e;
    font-weight: 600;
}
