.Faq {
    .faq-title {
        padding-left: 30px;
    }
    .faq-links {
        padding: 0 0 30px 30px;
    }
    .faq-links li {
        margin: 0 0 5px 0;
    }
    .faq-section {
        border: 1px solid #e8eaed;
        margin-bottom: 30px;
        border-radius: 5px;
        overflow: hidden;
    }

    .faq-item {
        border-bottom: 1px solid #e8eaed;
        padding: 25px 30px;
    }
}
