@import "../constants";

.suport {
    font-weight: bold;
}

.user {
    height: auto;
    text-align: left;
    display: table !important;
}

.user-text {
    vertical-align: middle;
    display: table-cell;
}

.agree {
    margin-left:0.8em;

}

.start {
    padding-right: 1em;
}
.end{
    padding-left: 1em;
}
.vote {
    width:40px;
    height:45px;
    border-radius: 0%;
    border:0px;

    font-size: $font-size * 0.75;
}

.button-one {
    background-color:#f4ecff;
}

.button-two {
    background-color:#e7d7fc;
}

.button-three {
    background-color:#dec6ff;
}

.button-four {
    background-color:#cca9fc;
}

.button-five {
    background-color:#b780ff;
}

.is-selected {
    background-color:#ffffff;
}
