.verb-link {
    color: #95989A;
    font-weight: 500;
}

.Notification {
    .notification a:not(.button) {
        text-decoration: none;
    }

    .notification {
        .user-name {
        font-weight: 600;
        }
    }

    .notification:not(:last-child) {
        margin-bottom: 0;
    }

    .timeago-text {
        font-family: 'Open Sans';
        font-size: .8rem;
        color: #95989A;
    }

    .notif-details > .icon {
        margin-right: 8px;
    }

    .notif-box {
        min-height: 340px;
    }
}
