.Profile {
    .section {
        padding: 3rem 0;
    }
}
.profile-img {
	border-radius: 50%;
	height: 140px;
	width: 140px;
	display: block;
	margin: 0 auto;
}

@media (max-width: 639px) {
    .profile-img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: block;
        margin: 0 auto;
    }
}


.profile-box {
    display: block;
    position: relative;
    padding: 1.5rem;
    margin-bottom: 1.25rem;
}
.profile-pts {
    margin-top: .8em;
}

.edit-profile-image {
	color: #999;
	font-size: 11px;
	padding: 2px;
	text-align: center;

	&:hover {
		background: rgba(0, 0 , 0, 0.35);
		color: white;
		cursor: pointer;
	}

}

.edit-text {
    display: block;
    margin-top: -1rem;
    a {
        color: #95989A;
    }
}

@media (min-width: 769px) {
    .action-buttons {
    	margin-top: 1rem;
        position: absolute;
        bottom: 1rem;
    }
}

.cred-list li {
	font-size: .8rem;
    margin-bottom: .5em;
}
