$col-padding: 0 6px;

a {
    background-color: transparent;
}
.details {
    font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.card-title {
    font-size: .9rem;
    font-weight: 600;

    .tag:not(body) {
        border-radius: 0;
    }

    .breaking-tag {
        font-weight: 700;
        margin-right: .2rem;
        position: absolute;
        left: 0;
        bottom: 100%;
    }
}
.article-image {
    position: relative;
    background-size: cover;
}

.card-content {
    position: relative;
    padding: 1rem;
}

.article-tag {
    padding-bottom: .8rem;
}
