.button {
    font-weight: 500;
    transition: all 0.2s ease 0s;
}

.facebook-button {
    background-color: #507cc0;
}

.google-button {
    background-color: #df4930;
}

.is-blue {
    background-color: #3081f9;
    border-color: transparent;
    color: #fff;
}

.is-blue.button:hover {
    background-color: #1b62f7;
    color: #fff;
}

.is-purple {
    background-color: #60399E;
    border-color: transparent;
    color: #fff;
}

.is-purple.button:hover {
    background-color: #42228e;
    color: #fff;
}

.button-wrapper {
    align-items: center;
}

.button[disabled] {
    background-color: #3081f9;
}
