.body-text {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.content-box {
    display: block;
    position: relative;
    margin-bottom: 1rem;
}


.content-policy {
    margin-bottom: 2rem;
}

.faq-icon {
    position: absolute;
    right: .5rem;
    height: auto;
}

a.is-grey {
    color: #999;
}

.num-discussions {
    font-family: 'Open Sans';
    font-size: .8rem;
    color: #95989a;
    margin-top: .8rem;
}

.box-style {
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px #d6d6d6;
    -moz-box-shadow: 0px 2px #d6d6d6;
    box-shadow: 0px 2px #d6d6d6;
    background-color: #ffffff;
}

.box-header {
    padding: 1rem;
    border-bottom: 2px solid #E4E4E4;
}

.box-bottom {
    display: flex;
    padding: 1rem;
}

.feed-list li {
    margin-bottom: .5em;
}

.is-horizontal-center {
    justify-content: center;
}

.user-name {
    font-weight: 500;
    font-family: 'Montserrat';
}

.user-desc {
    font-size: .9rem;
    font-weight: 500;
}

.user-img {
    border-radius: 50%;
    vertical-align: middle;

    &.size-30 {
        width: 30px;
        height: 30px;
    }

    &.size-40 {
      width: 40px;
      height: 40px;
    }
}

.link-box {
    transition: all 0.3s ease-in-out;
}

.article-box {
    height: 100%;
}

.link-box::after {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.link-box:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.textarea {
    font-family: 'Open Sans';
}
