body {
    font-size: .9rem;
}

html {
    background: #F4F6F9;
}

i.fa {
	font-size: 14px;
}

p {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,body, button, input, select, textarea {
  font-family: 'Montserrat', 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



@media screen and (min-width: 1088px) {
    .container {
        max-width:1300px;
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 768px) {
    .column {
        padding: .75rem 0;
    }
}
