
@import "./variables";


.app-header {
	background-color: #FFFFFF !important;

	-webkit-box-shadow: 0px 5px 2px -3px rgba(172,172,172,0.37);
	-moz-box-shadow: 0px 5px 2px -3px rgba(172,172,172,0.37);
	box-shadow: 0px 5px 2px -3px rgba(172,172,172,0.37);
}

.navbar-item img {
  max-height: 2.125rem;
}
a.navbar-item.is-active {
  color: #209CEE;
}

a.navbar-item, a.navbar-link {
  font-weight: 500;
  font-size: 1rem;
}

.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 50%;
}

.navbar-footer {
    background-color: #eeeeee;
    font-size: 12px;
}
.navbar-dropdown {
    padding-bottom: 0;
}

.footer-links li a {
    color: #999;
    display: initial;
}
@media (max-width: 768px) {
  .notif-badge {
    display: none;
  }
}

.notif-badge {
  border-radius: 10px;
  padding: 1px 6px 1px 6px;
  min-width: 8px;
  font-size: 11.5px;
  background-color: #f05050;
  color: #fff;
  line-height: 15px;
  z-index: 1;
  text-align: center;
  position: absolute;
  right: 70px;
  top: 6px;
  font-weight: 600;
  border: 2px solid #fff;
}

.navbar-profile {
  border-radius: 50%;
  height: 34px;
  width: 34px;
}
