.sdfsdf {
    background-color: #FFFFFF;
    border-radius: 4px;
    display: block;
    -webkit-box-shadow: 0px 2px #D6D6D6;
    -moz-box-shadow: 0px 2px #D6D6D6;
    box-shadow: 0px 2px #D6D6D6;
    padding: 1rem;
    margin-bottom: 10px;
}

.post-title {

}
