.tooltip {
  font-size: 1.1rem;
  font-family: 'Montserrat';
  font-weight: 500;
}
.tip-bg {
  position: fixed;
  visibility: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 40;
}

.tut-menu {
  padding-bottom: 26px !important;
   z-index: 50;
}

@media screen and (min-width: 769px), print {
  .tut-menu {
    width: 500px;
  }
}
.is-visible {
  visibility: visible;
}
.dropdown-before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #919191;
    border-right: 10px solid transparent;
    border-top: 10px solid #919191;
    border-bottom: 10px solid transparent;
    left: 22px;
    bottom: 5px;
}


.dropdown-after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 24px;
    bottom: 10px;
}
