@import "../../assets/scss/civid/variables";

.Account {

	.sidebar {
		border-right: 1px solid #eee;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 16px 0;
		position: fixed;
		top: $navbar-height;
		z-index: 1000;

		.nav {
			margin-bottom: 20px;

			.nav-item {
				width: 100%;

				.nav-link {
					border-radius: 0;
				}

			}

		}

	}

}
