.log-sign {
  max-width: 5em;
  margin: 0.5em; }

.tut-line {
  margin-bottom: 1rem;
  font-size: 1.2rem; }

.tutorial-bg {
  background-color: rgba(10, 10, 10, 0.7);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.zindex {
  z-index: 45; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.header-color {
  background-color: #5f40ce; }

.header-size {
  width: 100%;
  height: 4rem; }

.opinion-button {
  width: 100%;
  text-align: center; }

.header-one {
  color: red; }


::-webkit-input-placeholder {
  color: #fff;
  opacity: 1; }

:-ms-input-placeholder {
  color: #fff;
  opacity: 1; }

::-ms-input-placeholder {
  color: #fff;
  opacity: 1; }

::placeholder {
  color: #fff;
  opacity: 1; }

.input[disabled] {
  border-color: #dbdbdb; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.title-input {
  font-size: 1.2rem;
  font-weight: 600;
  padding-right: 2rem; }

.addClaim {
  color: #388dfa;
  border: 0;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1em; }

.anonymously {
  margin: 2em 2em 2em 0; }

.anonymous-label {
  color: black;
  margin-bottom: 3em !important;
  margin-right: 0.5em !important;
  font-weight: bold;
  font-size: 1.2em; }

.remaining {
  padding: 3px;
  margin: -3.1rem .5rem 0 0;
  z-index: 1;
  position: relative; }

.provide {
  margin-bottom: .5rem;
  font-weight: bold; }

.editor {
  margin-top: 3px;
  margin-bottom: 30px; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.suport {
  font-weight: bold; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.agree {
  margin-left: 0.8em; }

.start {
  padding-right: 1em; }

.end {
  padding-left: 1em; }

.vote {
  width: 40px;
  height: 45px;
  border-radius: 0%;
  border: 0px;
  font-size: 9px; }

.button-one {
  background-color: #f4ecff; }

.button-two {
  background-color: #e7d7fc; }

.button-three {
  background-color: #dec6ff; }

.button-four {
  background-color: #cca9fc; }

.button-five {
  background-color: #b780ff; }

.is-selected {
  background-color: #ffffff; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.user-icon {
  border-radius: 50%;
  height: 25px;
  margin: 0 2px;
  vertical-align: middle;
  display: table-cell; }

.influence-text {
  margin-left: 1rem;
  font-size: .8rem;
  color: #7e7e7e;
  font-weight: 600; }

.recent-prof {
  padding-left: .75rem; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.claims {
  margin-top: 5px;
  margin-left: 10px; }

.tooltip {
  font-size: 1.1rem;
  font-family: 'Montserrat';
  font-weight: 500; }

.tip-bg {
  position: fixed;
  visibility: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 40; }

.tut-menu {
  padding-bottom: 26px !important;
  z-index: 50; }

@media screen and (min-width: 769px), print {
  .tut-menu {
    width: 500px; } }

.is-visible {
  visibility: visible; }

.dropdown-before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #919191;
  border-right: 10px solid transparent;
  border-top: 10px solid #919191;
  border-bottom: 10px solid transparent;
  left: 22px;
  bottom: 5px; }

.dropdown-after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: 24px;
  bottom: 10px; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.support-button {
  background-color: #358cfa;
  margin-right: 10px; }

.host {
  font-size: 1em; }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

.avatar {
  width: 50px; }

.submit-button {
  background-color: #6b41a8;
  color: white; }

.change-text {
  padding-left: 8px;
  padding-right: 8px;
  width: 80%; }


.Countdown {
  margin: 1rem auto; }

.Countdown-col {
  display: inline-block; }

.Countdown-col-element {
  display: inline-block;
  margin: 0 10px;
  display: flex;
  flex-direction: column; }

.Countdown-col-element strong {
  font-size: 18px; }

.countdown-text {
  font-size: .8rem;
  color: #7e7e7e;
  font-weight: 600; }

@charset "UTF-8";
.header-border {
  background-color: #3081f9;
  bottom: 0px;
  display: inline-block;
  height: 4px;
  left: 0px;
  position: absolute; }

.replies-content {
  position: relative; }

.share-button {
  cursor: pointer; }

.claim-stats {
  padding: .8rem 0;
  margin: 0 -1.4rem;
  border-bottom: 1px solid #e4e4e4; }
  .claim-stats .level {
    margin: 0 1.4rem; }

.action-group {
  margin: 0 -1.4rem;
  border-bottom: 1px solid #e4e4e4; }

.change-mind {
  background: #fafafa;
  padding: 1.2rem;
  margin: 0 -1.4rem; }

.claim-box {
  margin-left: -1.4rem;
  margin-right: -1.4rem;
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0px 5px 5px 0px rgba(237, 237, 237, 0.69); }

@media screen and (min-width: 640px) {
  .action-button {
    font-size: 1.5rem; } }

.action-text {
  font-size: .9rem;
  font-weight: 600;
  color: #4a4a4a; }

@media screen and (max-width: 639px) {
  .action.text {
    font-size: .8rem; } }

.claim-content {
  background: #ffffff;
  padding: 1.2rem 1.4rem 1.2rem 1.4rem;
  border-top: 1px solid #E4E4E4;
  position: relative; }

.claim-contentopen {
  background: #ffffff;
  padding-right: 1rem; }

.title-post {
  color: black !important;
  font-size: 2.5em;
  font-weight: 600 !important;
  line-height: 1.2 !important;
  margin-bottom: 1.2rem; }

@media screen and (max-width: 639px) {
  .title-post {
    font-size: 1.5rem; } }

.column-content {
  padding: 1.4rem;
  padding-bottom: 0; }

.user-name {
  font-size: 1.2rem; }

@media screen and (max-width: 639px) {
  .user-name {
    font-size: .9rem; } }

hr {
  height: 1px;
  background-color: #E4E4E4;
  border: none;
  display: block; }

.supporting {
  margin-top: -.8em;
  margin-bottom: .6em;
  font-size: 1em  !important;
  font-weight: 600; }

.claims-column {
  margin-top: 1.4em;
  font-size: 1.5vw; }

.influence {
  margin-top: 1.6em;
  font-size: 1.2vw; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.opinion-img {
  max-height: 235px; }

@media screen and (min-width: 769px) {
  .opinion-img {
    float: right !important; } }

a {
  background-color: transparent; }

.influence-details {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: .5rem; }

.card-title {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis; }
  .card-title .tag:not(body) {
    border-radius: 0; }
  .card-title .breaking-tag {
    font-weight: 700;
    margin-right: .2rem;
    position: absolute;
    left: 0;
    bottom: 100%; }

.article-image {
  position: relative;
  background-size: cover; }

.card-content {
  position: relative;
  padding: 1rem; }

.article-tag {
  padding-bottom: .8rem; }

.slick-prev:before,
.slick-next:before {
  color: grey; }

.Landing {
  background: #ffffff;
  /**
    .bg {
      background-image: url("../images/bannerbg.png");
      background-color: #F4F6F9;
    }**/
  /*
    .hero.is-info {
      background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    */ }
  .Landing :root {
    --accent: #F18260;
    --purple: #252431; }
  @media screen and (min-width: 769px) {
    .Landing .columns {
      align-items: center;
      margin: 0 4rem; }
    .Landing .box-style {
      margin-left: 4rem; } }
  .Landing .app-content {
    position: relative; }
  .Landing .landing-header {
    background-color: #F4F6F9; }
  .Landing .icon {
    display: -webkit-inline-box; }
  .Landing .navbar {
    background-color: #F4F6F9; }
  .Landing .banner-body {
    padding: 3rem 1.5rem;
    background-color: #F4F6F9; }
  @media screen and (min-width: 769px), print {
    .Landing .banner-body {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem; } }
  @media screen and (min-width: 769px) {
    .Landing .img-feature {
      height: 100%;
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .Landing .img-feature {
      display: block;
      margin: 0 auto; } }
  .Landing .navbar-item img {
    max-height: 2.125rem; }
  .Landing a.navbar-item.is-active {
    color: #209CEE; }
  @media screen and (min-width: 1024px) {
    .Landing a.navbar-item.is-active {
      border-bottom: 3px solid #209CEE; } }
  .Landing a.navbar-item {
    font-weight: 500; }
  .Landing .mail-header {
    padding-bottom: 0.625rem;
    font-size: 1rem; }
  @media screen and (min-width: 769px), print {
    .Landing .mail-header {
      font-size: 1.25rem; } }
  .Landing .input.is-medium {
    height: 2.813rem;
    font-size: 1rem; }
  .Landing .button.is-secondary {
    background-color: #fff; }
  .Landing .button.is-blue {
    background-color: #3081f9; }
  .Landing .hero .nav, .Landing .hero.is-success .nav {
    box-shadow: none; }
  @media screen and (max-width: 768px) {
    .Landing .title, .Landing .subtitle {
      text-align: center; } }
  .Landing .subtitle {
    line-height: 1.5; }
  .Landing .subtitle.is-header {
    margin-bottom: 2rem; }
  .Landing .section.is-alternative {
    background-color: #F4F6F9; }
  .Landing .section {
    position: relative;
    padding: 3rem 1.5rem; }
  @media screen and (min-width: 769px), print {
    .Landing .section {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  .Landing .invite-header {
    text-align: center; }
  .Landing .is-video {
    text-align: center;
    background-color: #FFFFFF; }
  .Landing .video-container {
    max-width: 640px;
    margin: 0 auto; }
  .Landing .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .Landing .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .Landing .is-hidden {
    display: none !important; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }
  .Landing .loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .Landing .loading-spinner {
    width: 50px;
    height: 50px; }
  .Landing .loading-spinner svg {
    position: relative;
    -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
    height: 50px;
    width: 50px; }
  .Landing .loading-spinner circle {
    stroke: var(--accent);
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite; }

@media screen and (max-width: 768px) {
  .columns.is-reverse-mobile {
    flex-direction: column-reverse;
    display: flex; } }

.center {
  text-align: center; }

.hide {
  display: none; }

.setback {
  background-color: white !important;
  margin-top: 30px !important; }

.user {
  height: auto;
  text-align: left;
  display: table !important; }

.user-text {
  vertical-align: middle;
  display: table-cell; }

.support {
  color: white; }

@media screen and (max-width: 768px) {
  .columns.is-reverse-mobile {
    flex-direction: column-reverse;
    display: flex; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .main-content {
    width: 100%;
    margin: 0 auto; } }

.title {
  font-size: 1.7rem; }

@media screen and (max-width: 639px) {
  .title {
    font-size: 1.1rem; } }

.suport {
  font-weight: bold; }

.counter {
  font-size: 13.2px;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 15px; }

.heading {
  text-transform: lowercase;
  font-size: 12px;
  margin-bottom: 10px; }

.feed-banner {
  margin: 2px;
  padding: 1.5rem 1.5rem;
  display: block;
  background: url(https://s3.amazonaws.com/civid-media/static/bannertest2.png) no-repeat; }

.read-more {
  font-size: 12px;
  margin-left: 15px;
  color: #388dfa;
  cursor: pointer;
  cursor: hand; }

.thumbs {
  color: white; }

.padding {
  padding: 2.3em; }

.padding-zero {
  padding: 0; }

.margin-1 {
  margin: 1em; }

.margin-top-2 {
  margin-top: 2em; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.maxwidth {
  max-width: 20em; }

/* old   css  */
/*************************************************/
img.slide-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 1rem 0 1rem 0; }

.slide-text {
  padding-top: 1rem;
  font-size: 18px; }

.slide-text-top {
  padding-bottom: 1rem;
  font-size: 18px; }

.enter-button {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between; }

.enter-button .button:not(:last-child) {
  margin-right: 10px; }

.home-button {
  margin-bottom: 1rem; }

@media screen and (max-width: 768px) {
  .modal-card {
    margin: 0; } }

@media screen and (min-width: 769px), print {
  .post-width {
    width: 800px; } }

.modal-bg {
  background-color: rgba(10, 10, 10, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.dropdown.is-active .tutorial-bg {
  background-color: rgba(10, 10, 10, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.leaderboard ul.feed-list {
  display: table;
  border-spacing: 0 0.5em;
  margin-top: -0.5em; }
  .leaderboard ul.feed-list > li {
    display: table-row; }
    .leaderboard ul.feed-list > li > img, .leaderboard ul.feed-list > li a, .leaderboard ul.feed-list > li span {
      display: table-cell; }
    .leaderboard ul.feed-list > li .order {
      min-width: 45px; }
    .leaderboard ul.feed-list > li > a {
      color: #4A4A4A;
      width: 100%; }
    .leaderboard ul.feed-list > li .influence {
      text-align: right; }

.feed-list.filters-list {
  width: 100%; }
  .feed-list.filters-list li {
    cursor: pointer;
    padding: 4px 1rem;
    font-family: 'Open Sans'; }
    .feed-list.filters-list li.active-filter {
      cursor: default; }

.feed-item-selected {
  font-weight: 600; }

.active-filter {
  background: #ececec; }

.feed-bottom {
  padding: 1rem 0; }

.is-25 {
  height: 25px;
  width: 25px; }

.winners-bottom {
  padding: 1rem;
  display: block; }

@media screen and (min-width: 769px), print {
  .modal-card {
    width: 750px; } }

.Account .sidebar {
  border-right: 1px solid #eee;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 0;
  position: fixed;
  top: 50px;
  z-index: 1000; }
  .Account .sidebar .nav {
    margin-bottom: 20px; }
    .Account .sidebar .nav .nav-item {
      width: 100%; }
      .Account .sidebar .nav .nav-item .nav-link {
        border-radius: 0; }


.signup-section {
  padding: 3rem 0; }

.privacy-agree {
  margin-top: 10px; }

.signup-content {
  padding: 3rem; }

.bg-image {
  background: url(https://s3.amazonaws.com/civid-media/static/banner-large.png) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  background-size: 70%;
  position: fixed; }

.privacy-agree {
  margin-top: 10px; }

.signup-content {
  padding: 3rem; }

.bg-image {
  background: url(https://s3.amazonaws.com/civid-media/static/banner-large.png) no-repeat center center fixed;
  width: 100%;
  height: 100%;
  background-size: 70%;
  position: fixed; }

.ContentPolicy .content ul {
  font-family: Open Sans; }

@media screen and (min-width: 1192px) {
  .post-container {
    max-width: 1348px;
    width: 1348px;
    margin: 0 auto;
    position: relative; } }

.details {
  margin-bottom: .5rem; }

@media screen and (max-width: 639px) {
  .details {
    font-size: .8rem; } }

.level.is-mobile .level-left {
  flex-wrap: wrap;
  flex-shrink: 1; }

.primary-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: -15px;
  top: -5px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
  -webkit-filter: blur(10px) contrast(0.5) brightness(0.7);
  box-sizing: border-box; }

.detail-banner > *:not(.primary-background) {
  z-index: 5;
  position: relative; }

.detail-banner {
  overflow: hidden;
  position: relative; }

.trophy {
  padding: .8rem;
  -webkit-filter: grayscale(1) contrast(0.3); }

.trophy-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem; }

@media (min-width: 769px) {
  .trophy-box {
    margin: -5rem 0 1rem 0; } }

.trophy-box > .post-content {
  padding: 1rem; }

.infobox-bottom {
  border-top: 1px solid #e4e4e4; }

.info-title {
  font-weight: 600;
  font-size: 1.5rem; }

.info-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  display: block; }

.user-trophy {
  margin-top: .5rem; }

.article-detail {
  -o-object-fit: contain;
     object-fit: contain; }

.article-info {
  padding: 1rem;
  display: block;
  color: #4a4a4a; }

.cmm-red {
  font-weight: 700;
  color: #ef5050; }

.reply-header {
  background: #dddddd; }

.overview-box {
  background-color: #FFFFFF;
  border-radius: 4px;
  display: block;
  position: relative;
  box-shadow: 0px 2px #D6D6D6;
  margin-bottom: 1.25rem; }

.form-size {
  padding: 1rem 2rem 1rem 2rem; }

.empty-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 340px; }

.rules-list {
  font-family: 'Open Sans'; }

.rules-list li {
  padding-bottom: .6rem; }

.reply-action {
  padding: .8rem; }

.time-ago {
  color: #95989a; }

.is-detail {
  margin-bottom: .8rem; }

.reply-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem; }

.post-name {
  font-weight: 600;
  font-family: 'Montserrat'; }

.op-user {
  font-weight: 700;
  color: #60399E !important; }

.inner-content .is-detail {
  margin-bottom: .3rem; }

.inner-content .body-text {
  word-break: break-word; }

.inner-content .inner-content {
  padding: 1rem 0 0 3rem; }
  .inner-content .inner-content .user-name {
    font-weight: 600; }

@media (max-width: 768px) {
  .inner-content .inner-content {
    padding: 1rem 0 0 1.5rem; } }

.innerreplies-content {
  padding: 1rem 2rem 1rem 3rem; }
  @media (max-width: 768px) {
    .innerreplies-content {
      padding: 2.3rem .5rem 0 .5rem; } }
  .innerreplies-content .user-name {
    font-weight: 600; }

.post-content .media-left {
  position: relative; }
  .post-content .media-left i.fas {
    position: absolute;
    bottom: -2em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.post-preview {
  cursor: pointer;
  position: relative; }
  .post-preview > article {
    opacity: 0.5; }
  .post-preview > span {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bold;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

.preview-box {
  padding: .5rem;
  opacity: 0.7;
  margin-right: 2rem; }

.innerpreview-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: .5rem;
  opacity: 0.7;
  margin-right: 2rem;
  margin-top: 1rem; }

.preview-content {
  padding-left: 2rem; }
  .preview-content .is-detail {
    margin-bottom: .2rem; }

.too-nested-warning {
  color: red;
  font-weight: bold; }

.reply-text-preview {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: .5rem;
  font-family: 'Open Sans'; }

.has-text-blue {
  color: #3081f9 !important; }

.media-content a.level-item {
  color: #95989a; }

.upvote-dot {
  opacity: 0.5;
  padding: 0 5px 0 5px; }

.post-reply {
  font-family: 'Open Sans';
  font-size: .9rem; }

.innerpreview-style {
  background: #fafafa; }

.preview-style {
  margin: 0 -1.4rem -1.3rem -1.4rem;
  padding: 1rem 0;
  background: #fafafa; }

.Privacy .content ul {
  font-family: Open Sans; }

a.detail-text {
  line-height: 16px;
  border-radius: 2px;
  transition: background-color 0.1s; }

a.detail-text:hover {
  background-color: rgba(26, 26, 27, 0.1); }

.preview-header {
  padding-bottom: 1rem; }

.change-ratio {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  height: 30px; }

.detail-text {
  font-family: 'Open Sans';
  font-size: .8rem;
  color: #95989A;
  padding: 4px; }

.dropdown-link {
  color: #4A4A4A; }

.end-feed {
  padding-top: 1rem; }

.is-ellipsis {
  color: #95989A;
  border-color: transparent; }

.is-ellipsis:hover {
  border-color: transparent; }

.post-content {
  padding: 1.3rem; }

.post-bottom {
  border-top: 1px solid #E4E4E4; }

.post-top {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 5px; }

.post-box {
  margin-bottom: 1rem; }

.post-details {
  padding: .5rem 1rem .5rem 1rem;
  color: #95989A; }

.media-content a {
  color: #4A4A4A; }

.centered-content {
  align-items: center; }

.user-info {
  padding: .5rem 0 .5rem 0; }

.post-title {
  color: #363636;
  font-size: 1.25rem;
  line-height: 1.125;
  font-weight: 600; }

@media (max-width: 768px) {
  .post-title {
    font-size: 1rem; } }

.Profile .section {
  padding: 3rem 0; }

.profile-img {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  display: block;
  margin: 0 auto; }

@media (max-width: 639px) {
  .profile-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto; } }

.profile-box {
  display: block;
  position: relative;
  padding: 1.5rem;
  margin-bottom: 1.25rem; }

.profile-pts {
  margin-top: .8em; }

.edit-profile-image {
  color: #999;
  font-size: 11px;
  padding: 2px;
  text-align: center; }
  .edit-profile-image:hover {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer; }

.edit-text {
  display: block;
  margin-top: -1rem; }
  .edit-text a {
    color: #95989A; }

@media (min-width: 769px) {
  .action-buttons {
    margin-top: 1rem;
    position: absolute;
    bottom: 1rem; } }

.cred-list li {
  font-size: .8rem;
  margin-bottom: .5em; }

.Terms .content ul {
  font-family: Open Sans; }

.verb-link {
  color: #95989A;
  font-weight: 500; }

.Notification .notification a:not(.button) {
  text-decoration: none; }

.Notification .notification .user-name {
  font-weight: 600; }

.Notification .notification:not(:last-child) {
  margin-bottom: 0; }

.Notification .timeago-text {
  font-family: 'Open Sans';
  font-size: .8rem;
  color: #95989A; }

.Notification .notif-details > .icon {
  margin-right: 8px; }

.Notification .notif-box {
  min-height: 340px; }

.button {
  font-weight: 500;
  transition: all 0.2s ease 0s; }

.facebook-button {
  background-color: #507cc0; }

.google-button {
  background-color: #df4930; }

.is-blue {
  background-color: #3081f9;
  border-color: transparent;
  color: #fff; }

.is-blue.button:hover {
  background-color: #1b62f7;
  color: #fff; }

.is-purple {
  background-color: #60399E;
  border-color: transparent;
  color: #fff; }

.is-purple.button:hover {
  background-color: #42228e;
  color: #fff; }

.button-wrapper {
  align-items: center; }

.button[disabled] {
  background-color: #3081f9; }

.body-text {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5; }

.content-box {
  display: block;
  position: relative;
  margin-bottom: 1rem; }

.content-policy {
  margin-bottom: 2rem; }

.faq-icon {
  position: absolute;
  right: .5rem;
  height: auto; }

a.is-grey {
  color: #999; }

.num-discussions {
  font-family: 'Open Sans';
  font-size: .8rem;
  color: #95989a;
  margin-top: .8rem; }

.box-style {
  border-radius: 4px;
  box-shadow: 0px 2px #d6d6d6;
  background-color: #ffffff; }

.box-header {
  padding: 1rem;
  border-bottom: 2px solid #E4E4E4; }

.box-bottom {
  display: flex;
  padding: 1rem; }

.feed-list li {
  margin-bottom: .5em; }

.is-horizontal-center {
  justify-content: center; }

.user-name {
  font-weight: 500;
  font-family: 'Montserrat'; }

.user-desc {
  font-size: .9rem;
  font-weight: 500; }

.user-img {
  border-radius: 50%;
  vertical-align: middle; }
  .user-img.size-30 {
    width: 30px;
    height: 30px; }
  .user-img.size-40 {
    width: 40px;
    height: 40px; }

.link-box {
  transition: all 0.3s ease-in-out; }

.article-box {
  height: 100%; }

.link-box::after {
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out; }

.link-box:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }

.textarea {
  font-family: 'Open Sans'; }

body {
  font-size: .9rem; }

html {
  background: #F4F6F9; }

i.fa {
  font-size: 14px; }

p {
  font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

html, body, button, input, select, textarea {
  font-family: 'Montserrat', 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

@media screen and (min-width: 1088px) {
  .container {
    max-width: 1300px;
    width: calc(100% - 200px); } }

@media screen and (max-width: 768px) {
  .column {
    padding: .75rem 0; } }

.footer {
  color: #C1C1C1;
  background-color: #f4f6f9;
  font-size: 0.875rem; }

form .form-group {
  margin: 1rem 0; }
  form .form-group label {
    margin-bottom: 4px; }

form .buttons .button:not(:last-child) {
  margin-right: .5rem; }

.container-fluid {
  margin-top: 70px; }

.app-header {
  background-color: #FFFFFF !important;
  box-shadow: 0px 5px 2px -3px rgba(172, 172, 172, 0.37); }

.navbar-item img {
  max-height: 2.125rem; }

a.navbar-item.is-active {
  color: #209CEE; }

a.navbar-item, a.navbar-link {
  font-weight: 500;
  font-size: 1rem; }

.profile-image {
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50%; }

.navbar-footer {
  background-color: #eeeeee;
  font-size: 12px; }

.navbar-dropdown {
  padding-bottom: 0; }

.footer-links li a {
  color: #999;
  display: initial; }

@media (max-width: 768px) {
  .notif-badge {
    display: none; } }

.notif-badge {
  border-radius: 10px;
  padding: 1px 6px 1px 6px;
  min-width: 8px;
  font-size: 11.5px;
  background-color: #f05050;
  color: #fff;
  line-height: 15px;
  z-index: 1;
  text-align: center;
  position: absolute;
  right: 70px;
  top: 6px;
  font-weight: 600;
  border: 2px solid #fff; }

.navbar-profile {
  border-radius: 50%;
  height: 34px;
  width: 34px; }

.sdfsdf {
  background-color: #FFFFFF;
  border-radius: 4px;
  display: block;
  box-shadow: 0px 2px #D6D6D6;
  padding: 1rem;
  margin-bottom: 10px; }


