$col-padding: 0 6px;

a {
    background-color: transparent;
}
.influence-details {
    font-family: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: .5rem;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    .tag:not(body) {
        border-radius: 0;
    }

    .breaking-tag {
        font-weight: 700;
        margin-right: .2rem;
        position: absolute;
        left: 0;
        bottom: 100%;
    }
}
.article-image {
    position: relative;
    background-size: cover;
}

.card-content {
    position: relative;
    padding: 1rem;
}

.article-tag {
    padding-bottom: .8rem;
}
