@import "../../components/constants";


.title-input {
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 2rem;
}

.addClaim {
    color:$blue-color;
    border:0;
    font-weight: bold;
    font-size:1.4em;
    margin-bottom: 1em;
}

.anonymously {
   margin:2em 2em 2em 0;
}

.anonymous-label {
    color:black;
    margin-bottom:3em !important;
    margin-right: 0.5em !important;
    font-weight: bold;
    font-size: 1.2em;
}

.remaining  {
    padding: 3px;
    margin: -3.1rem .5rem 0 0;
    z-index: 1;
    position: relative;
}


.provide {
    margin-bottom: .5rem;
    font-weight: bold;
}

.editor {
    margin-top: 3px;
    margin-bottom: 30px;

}

