@import "../../components/constants";

@media screen and (max-width: 768px){
.columns.is-reverse-mobile {
  flex-direction: column-reverse;
  display: flex;
}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 1024px) {
    .main-content {
        width: 100%;
        margin: 0 auto;
    }
}

.title {
    font-size: 1.7rem;
}

@media screen and (max-width: 639px) {
  .title {
    font-size: 1.1rem;
  }
}

.suport {
    font-weight: bold;
}

.counter {
     font-size: $font-size * 1.1;
     font-weight: bold;
     padding-top:5px;
     padding-right: 15px;
}

.heading {
    text-transform: lowercase;
    font-size: $font-size;
    margin-bottom: 10px;
}

.feed-banner {
    margin: 2px;
    padding: 1.5rem 1.5rem;
    display: block;
    background: url(https://s3.amazonaws.com/civid-media/static/bannertest2.png) no-repeat;
}

.read-more {
    font-size: $font-size;
    margin-left:15px;
    color: $blue-color;
    cursor: pointer;
    cursor: hand;
}

.thumbs {
    color:white;
}

.padding {
    padding: 2.3em;
}
.padding-zero{
    padding: 0;
}
.margin-1{
    margin: 1em;
}
.margin-top-2 {
     margin-top: 2em;
}
.margin-bottom-2 {
    margin-bottom: 2rem;
}
.maxwidth {
    max-width: 20em;;
}
/* old   css  */
/*************************************************/
img.slide-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 1rem 0 1rem 0;
}

.slide-text {
    padding-top: 1rem;
    font-size: 18px;
}

.slide-text-top {
    padding-bottom: 1rem;
    font-size: 18px;
}

.enter-button {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.enter-button .button:not(:last-child) {
    margin-right: 10px;
}

.home-button {
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .modal-card {
        margin: 0;
    }
}

@media screen and (min-width: 769px), print {
    .post-width {
        width: 800px;
    }
}

.modal-bg {
    background-color: rgba(10,10,10,.5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown.is-active {
    .tutorial-bg {
        background-color: rgba(10,10,10,.3);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.leaderboard {
    ul.feed-list {
        display: table;
        border-spacing: 0 0.5em;
        margin-top: -0.5em;

        & > li {
            display: table-row;

            & > img, a, span {
                display: table-cell;
            }

            .order {
                min-width: 45px;
            }

            & > a {
                color: #4A4A4A;
                width: 100%;
            }

            .influence {
                text-align: right;
            }
        }
    }
}

.feed-list.filters-list {
    width: 100%;

    li {
        cursor: pointer;
        padding: 4px 1rem;
        font-family: 'Open Sans';

        &.active-filter {
            cursor: default;
        }
    }
}

.feed-item-selected {
    font-weight: 600;
}

.active-filter {
    background: #ececec;
}

.feed-bottom {
    padding: 1rem 0;
}

.is-25 {
    height: 25px;
    width: 25px;
}

.winners-bottom {
    padding: 1rem;
    display: block;
}

@media screen and (min-width: 769px), print {
    .modal-card {
        width: 750px;
    }
}
