@import '../constants';

.user-icon {
    border-radius:50%;
    height: 25px;
    margin:0 2px;
    vertical-align: middle;
    display: table-cell;
}

.influence-text {
    margin-left: 1rem;
    font-size: .8rem;
    color: #7e7e7e;
    font-weight:600;
}

.recent-prof {
    padding-left: .75rem;
}
