li.pub-list {
    font-family: Open Sans;

    .media-left {
        margin-right: .7rem;
    }
    .pub-name {
        color: #95989a;
        font-size: 12px;
    }

    .source-title {
        color: #363636;
        font-size: 13px;
        font-weight: 600;
    }
}
