$col-padding: 0 6px;

a.detail-text {
	line-height: 16px;
	border-radius: 2px;
	transition: background-color 0.1s;
}

a.detail-text:hover {
	background-color: rgba(26,26,27,0.1);
}

.preview-header {
	padding-bottom: 1rem;
}
.change-ratio {
 	object-fit: cover;
  	width:50px;
  	height:30px;
}

.detail-text {
	font-family: 'Open Sans';
	font-size: .8rem;
	color: #95989A;
	padding: 4px;
}

.dropdown-link {
	color: #4A4A4A;
}
.end-feed {
	padding-top: 1rem;
}

.is-ellipsis {
	color: #95989A;
	border-color: transparent;
}

.is-ellipsis:hover {
	border-color: transparent;
}

.post-content {
	padding: 1.3rem;
}

.post-bottom {
    border-top: 1px solid #E4E4E4;
}

.post-top {
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 5px;
}

.post-box {
	margin-bottom: 1rem;
}

.post-details {
	padding: .5rem 1rem .5rem 1rem;
	color: #95989A;
}

.media-content a {
	color: #4A4A4A;
}

.centered-content {
	-webkit-box-align: center;
	align-items: center;
}

.user-info {
	padding: .5rem 0 .5rem 0;
}

.post-title {
	color: #363636;
	font-size: 1.25rem;
	line-height: 1.125;
	font-weight: 600;
}

@media (max-width: 768px) {
	.post-title {
		font-size: 1rem;
	}
}
