$font-size :12px;
$blue-color :#388dfa;

.center {
    text-align: center;
}

.hide {
    display: none;
}

.setback {
    background-color: white !important;
    margin-top: 30px !important;   
}

.user {
    height: auto;
    text-align: left;
    display: table !important;
}
.user-text {
    vertical-align: middle;
    display: table-cell;
}

.support {
    color:white;
}

