@import "../constants";

.clock-text {
    border-radius:8%;
    color: white;
    background: #a4a4a4;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 2px;
    width: $font-size * 1.2;
    text-align: center;
}

.separator {
    vertical-align: middle;
    display: table-cell;
    font-size: 2.3em;
}