$col-padding: 0 6px;

.cmm {
	font-weight: 800;
    font-size: 1.6rem;
}

.post-title div {
    margin-bottom: 1.2rem;
    color: #fff;

}
.post-body {
    margin-bottom: 1.2rem;
    white-space: pre-wrap;
}
.readmore-white {
    color: #fff;
    font-weight: 600;
}

.postdetail-section {
    padding: 3rem 1.5rem;

    @media (max-width: 768px) {
        padding: 3rem 0 3rem 0;
    }
}
