.slick-prev:before,
.slick-next:before {
  color: grey;
}


.Landing {
    background: #ffffff;

    :root {
          --accent: #F18260;
          --purple: #252431;
        }
    @media screen and (min-width: 769px) {
      .columns {
        align-items: center;
        margin: 0 4rem;
      }
    .box-style {
      margin-left: 4rem;
    }
  }
    .app-content {
      position: relative;
    }

    .app-container {
    }

    .landing-header {
      background-color: #F4F6F9;
    }
    .icon {
      display: -webkit-inline-box;
    }

    .navbar {
      background-color: #F4F6F9;
    }

    .banner-body {
      padding: 3rem 1.5rem;
      background-color: #F4F6F9;
    }

    @media screen and (min-width: 769px), print {
      .banner-body {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
      }
    }

    /**
    .bg {
      background-image: url("../images/bannerbg.png");
      background-color: #F4F6F9;
    }**/

    @media screen and (min-width: 769px) {
      .img-feature {
        height: 100%;
        width: 100%;
      }
    }

    @media screen and (max-width: 768px) {
      .img-feature {
        display: block;
        margin: 0 auto;
      }
    }

    .navbar-item img {
      max-height: 2.125rem;
    }
    a.navbar-item.is-active {
      color: #209CEE;
    }
    @media screen and (min-width: 1024px) {
      a.navbar-item.is-active {
        border-bottom: 3px solid #209CEE;
      }
    }
    a.navbar-item {
      font-weight: 500;
    }
    .mail-header {
      padding-bottom: 0.625rem;
      font-size: 1rem;
    }
    @media screen and (min-width: 769px), print {
      .mail-header {
        font-size: 1.25rem;
      }
    }

    .input.is-medium {
      height: 2.813rem;
      font-size: 1rem;
    }

    .button.is-secondary {
        background-color: #fff;
    }
    .button.is-blue {
        background-color: #3081f9;
    }
    /*
    .hero.is-info {
      background: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    */
    .hero .nav, .hero.is-success .nav {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    @media screen and (max-width: 768px) {
      .title, .subtitle {
        text-align: center;
      }
    }

    .subtitle {
      line-height: 1.5;
    }

    .subtitle.is-header {
      margin-bottom: 2rem;
    }



    .section.is-alternative {
      background-color: #F4F6F9;
    }

    .section {
      position: relative;
      padding: 3rem 1.5rem;
    }

    @media screen and (min-width: 769px), print {
      .section {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }

    .invite-header {
      text-align: center;
    }
    .is-video {
      text-align: center;
      background-color: #FFFFFF;
    }

    .video-container {
      max-width: 640px;
      margin: 0 auto;
    }

    .video-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }
    .video-responsive iframe{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

      .is-hidden {
        display: none !important;
      }

    @keyframes rotate {
         100% { transform: rotate(360deg); }
    }

    @keyframes dash {
     0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
     50% { stroke-dasharray: 89,200; stroke-dashoffset: -35; }
     100% { stroke-dasharray: 89,200; stroke-dashoffset: -124; }
    }

    .loading {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .loading-spinner {
      width: 50px;
      height: 50px;
    }

    .loading-spinner svg {
      position: relative;
      animation: rotate 2s linear infinite;
      height: 50px;
      width: 50px;
    }

    .loading-spinner circle {
      stroke: var(--accent);
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
}

  @media screen and (max-width: 768px){
  .columns.is-reverse-mobile {
      flex-direction: column-reverse;
      display: flex;
    }
  }
