.header-border {
    background-color: #3081f9;
    bottom: 0px;
    display: inline-block;
    height: 4px;
    left: 0px;
    position: absolute;
}

.replies-content {
  position: relative;
}

.share-button {
  cursor: pointer;
}

.claim-stats {
  padding: .8rem 0;
  margin: 0 -1.4rem;
  border-bottom: 1px solid #e4e4e4;
  .level {
    margin: 0 1.4rem;
  }
}
.action-group {
  margin: 0 -1.4rem;
  border-bottom: 1px solid #e4e4e4;
}

.change-mind {
    background: #fafafa;
    padding: 1.2rem;
    margin: 0 -1.4rem;
}

.claim-box {
  margin-left: -1.4rem;
  margin-right: -1.4rem;
  border-bottom: 1px solid #e4e4e4;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(237,237,237,0.69);
  -moz-box-shadow: 0px 5px 5px 0px rgba(237,237,237,0.69);
  box-shadow: 0px 5px 5px 0px rgba(237,237,237,0.69);
}

@media screen and (min-width: 640px) {
  .action-button {
    font-size: 1.5rem;
  }
}

.action-text {
  font-size: .9rem;
  font-weight: 600;
  color: #4a4a4a;
}

@media screen and (max-width: 639px) {
  .action.text {
    font-size: .8rem;
  }
}

.claim-content {
  background: #ffffff;
  padding: 1.2rem 1.4rem 1.2rem 1.4rem;
  border-top: 1px solid #E4E4E4;
  position: relative;
}

.claim-contentopen {
  background: #ffffff;
  padding-right: 1rem;
}

.title-post {
    color:black !important;
    font-size: 2.5em;
    font-weight: 600 !important;
    line-height: 1.2 !important;
    margin-bottom: 1.2rem;
}
@media screen and (max-width: 639px) {
  .title-post {
    font-size: 1.5rem;
  }
}

.column-content {
  padding: 1.4rem;
  padding-bottom: 0;
}

.user-name {
  font-size: 1.2rem;
}
@media screen and (max-width: 639px) {
  .user-name {
    font-size: .9rem;
  }
}

.post-header {

}

hr {
    height: 1px;
    background-color: #E4E4E4;
    border: none;
    display: block;
}

.supporting {
    margin-top: -.8em;
    margin-bottom: .6em;
    font-size: 1em  !important;
    font-weight: 600;

}

.claims-column {
    margin-top: 1.4em;
    font-size:1.5vw;
}

.influence {
    margin-top: 1.6em;
    font-size: 1.2vw;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.opinion-img {
  max-height: 235px;
}

@media screen and (min-width: 769px) {
  .opinion-img {
    float: right !important;
  }
}
