@import "../constants";

.avatar {
    width: 50px;
}

.submit-button {
    background-color: #6b41a8;
    color:white;
}

.change-text {
    padding-left: 8px;
    padding-right: 8px;
    width: 80%;
}
