.tut-line {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.tutorial-bg {
    background-color: rgba(10, 10, 10, 0.7);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.zindex {
    z-index: 45;
}
