
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122960581-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-122960581-1');
    </script>

    <!-- Facebook login -->

    <!-- <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=335762493899111"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cividinc">
    <meta name="twitter:title" content="Not all military veterans are heroes.">
    <meta name="twitter:description" content="First of all, not all soldiers are exposed to danger or are at risk of getting injured or killed in action. A majority of soldiers are office clerks and unimportant personnel, drink coffee at Starbucks every morning and arrive back at home before dinner time.">
    <meta name="twitter:image" content="https://civid-media.s3.amazonaws.com/media/veterans_6.jpg">

    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Civid">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="Not all military veterans are heroes.">
    <meta property="og:image" content="https://civid-media.s3.amazonaws.com/media/veterans_6.jpg">
    <meta property="og:url" content="https://www.civid.com/">
    <meta property="og:description" content="First of all, not all soldiers are exposed to danger or are at risk of getting injured or killed in action. A majority of soldiers are office clerks and unimportant personnel, drink coffee at Starbucks every morning and arrive back at home before dinner time.">

    <link rel="shortcut icon" href="https://s3.amazonaws.com/civid-media/static/favicon.ico" type="image/x-icon">
    <title>Civid</title>
    <!-- Bulma Version 0.7.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
    <div id="root"></div>

    <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>

</html>
