
.signup-section {
    padding: 3rem 0;
}

.privacy-agree {
    margin-top: 10px;
}

.signup-content {
    padding: 3rem;
}

.bg-image {
    background: url(https://s3.amazonaws.com/civid-media/static/banner-large.png) no-repeat center center fixed;
    width: 100%;
    height: 100%;
    background-size: 70%;
    position: fixed;
}
